<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.fcbj.mapper.PEnterprisePropertyAddressMapper">
    
    <resultMap type="PEnterprisePropertyAddress" id="PEnterprisePropertyAddressResult">
        <result property="rowId"    column="row_id"    />
        <result property="applicationNo"    column="application_no"    />
        <result property="serialno"    column="serialno"    />
        <result property="addressNo"    column="address_no"    />
        <result property="addressDetail"    column="address_detail"    />
        <result property="isMain"    column="is_main"    />
        <result property="insuredAmount"    column="insured_amount"    />
        <result property="premiumAmount"    column="premium_amount"    />
    </resultMap>

    <sql id="selectPEnterprisePropertyAddressVo">
        select row_id, application_no, serialno, address_no, address_detail, is_main, insured_amount, premium_amount from p_enterprise_property_address
    </sql>

    <select id="selectPEnterprisePropertyAddressList" parameterType="PEnterprisePropertyAddress" resultMap="PEnterprisePropertyAddressResult">
        <include refid="selectPEnterprisePropertyAddressVo"/>
        <where>  
            <if test="rowId != null  and rowId != ''"> and row_id = #{rowId}</if>
            <if test="applicationNo != null  and applicationNo != ''"> and application_no = #{applicationNo}</if>
            <if test="serialno != null "> and serialno = #{serialno}</if>
            <if test="addressNo != null "> and address_no = #{addressNo}</if>
            <if test="addressDetail != null  and addressDetail != ''"> and address_detail = #{addressDetail}</if>
            <if test="isMain != null  and isMain != ''"> and is_main = #{isMain}</if>
            <if test="insuredAmount != null "> and insured_amount = #{insuredAmount}</if>
            <if test="premiumAmount != null "> and premium_amount = #{premiumAmount}</if>
        </where>
    </select>
    
    <select id="selectPEnterprisePropertyAddressByRowId" parameterType="String" resultMap="PEnterprisePropertyAddressResult">
        <include refid="selectPEnterprisePropertyAddressVo"/>
        where row_id = #{rowId}
    </select>
        
    <insert id="insertPEnterprisePropertyAddress" parameterType="PEnterprisePropertyAddress">
        insert into p_enterprise_property_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rowId != null and rowId != ''">row_id,</if>
            <if test="applicationNo != null and applicationNo != ''">application_no,</if>
            <if test="serialno != null">serialno,</if>
            <if test="addressNo != null">address_no,</if>
            <if test="addressDetail != null and addressDetail != ''">address_detail,</if>
            <if test="isMain != null">is_main,</if>
            <if test="insuredAmount != null">insured_amount,</if>
            <if test="premiumAmount != null">premium_amount,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rowId != null and rowId != ''">#{rowId},</if>
            <if test="applicationNo != null and applicationNo != ''">#{applicationNo},</if>
            <if test="serialno != null">#{serialno},</if>
            <if test="addressNo != null">#{addressNo},</if>
            <if test="addressDetail != null and addressDetail != ''">#{addressDetail},</if>
            <if test="isMain != null">#{isMain},</if>
            <if test="insuredAmount != null">#{insuredAmount},</if>
            <if test="premiumAmount != null">#{premiumAmount},</if>
         </trim>
    </insert>

    <update id="updatePEnterprisePropertyAddress" parameterType="PEnterprisePropertyAddress">
        update p_enterprise_property_address
        <trim prefix="SET" suffixOverrides=",">
            <if test="applicationNo != null and applicationNo != ''">application_no = #{applicationNo},</if>
            <if test="serialno != null">serialno = #{serialno},</if>
            <if test="addressNo != null">address_no = #{addressNo},</if>
            <if test="addressDetail != null and addressDetail != ''">address_detail = #{addressDetail},</if>
            <if test="isMain != null">is_main = #{isMain},</if>
            <if test="insuredAmount != null">insured_amount = #{insuredAmount},</if>
            <if test="premiumAmount != null">premium_amount = #{premiumAmount},</if>
        </trim>
        where row_id = #{rowId}
    </update>

    <delete id="deletePEnterprisePropertyAddressByRowId" parameterType="String">
        delete from p_enterprise_property_address where row_id = #{rowId}
    </delete>

    <delete id="deletePEnterprisePropertyAddressByRowIds" parameterType="String">
        delete from p_enterprise_property_address where row_id in 
        <foreach item="rowId" collection="array" open="(" separator="," close=")">
            #{rowId}
        </foreach>
    </delete>
</mapper>